.statistics__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 600px;
    max-height: calc(100vh - 4rem);
    margin: 2rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0.15rem 0.5rem rgba(33, 33, 33, 0.2);
    background-color: white;

    & .statistics__modal-header {
        display: flex;
        align-items: center;
        padding: .5rem 0;
        color: red;

        & h1 {
            font-size: 20px;
            line-height: 1.5;
        }

        & .statistics__btn-icon {
            margin-left: auto;
            color: red;

            & :hover {
                color: aqua;
            }
        }
    }
}