@import url('https://fonts.googleapis.com/css2?family=Raleway');

.header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header-tag {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}