.app__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    border-bottom: 1px solid lightgray;

    & .app__navbar-title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 900;
        font-size: 30px;
    }

    & .app__navbar-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}