@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4');

.App {
	text-align: center;
	background-color: #111111;
	width: 100vw;
	height: 100vh;
	/* display: flex; */
	color: white;
}

body {
	padding: 0%;
	margin: 0;
	background-color: #121212;
}
  
nav {
	height: 60px;
	/* width: 100%; */
	padding: 0 10px;
	border-bottom: 1px solid grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}

.gameOver button {
	outline: none;
	background: none;
	font-size: 40px;
	cursor: pointer;
	border: none;
}

.refreshIcon {
	color: white;
	transition: all 0.3s ease-in-out;
}

.refreshIcon:focus,
.refreshIcon:hover {
	color: rgb(165, 165, 165);
}
  
nav h1 {
	margin: 0;
	font-family: 'Source Serif 4', sans-serif;
	font-weight: 900;
	font-size: 45px;
	color: white;
}

.game {
	width: 100%;
	max-width: 500px;
	height: calc(100vh - 120px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 50px;
	flex-direction: column;
	margin: 0 auto;
}
  
.board {
	max-width: 450px;
	display: flex;
	flex-direction: column;
}
  
.row {
	display: flex;
	flex-direction: row;
}
  
.letter {
	flex: 33%;
	width: 50px;
	height: 50px;
	border: 2px solid #3a3a3c;
	border-radius: 10px;
	margin: 3px;
	padding: 3px;
	display: grid;
	place-items: center;
	font-size: 2rem;
	font-weight: bolder;
	color: white;
	font-family: "Helvetica Nue", Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px #CECECE;
}
  
#correct {
	background-color: #528d4e;
	border-color: #528d4e;
}
  
#almost {
	background-color: #b49f39;
	border-color: #b49f39;
}
  
#error {
	background-color: #334254;
	border-color: #334254;
}
  
.keyboard {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
  
.line1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 8px;
}
.line2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 8px;
}
.line3 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 8px;
}
  
.key {
	font-family: "Helvetica Nue", Arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin: 0 3px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 4px;
	cursor: pointer;
	flex: 1;
	background-color: grey;
	color: white;
	height: 50px;
    padding: 0;
	border: 2px solid grey;
	transition: 0.2s all ease-in-out;
}

.key:hover {
	background-color: rgb(59, 59, 59);
}
  
#big {
	background-color: rgb(59, 59, 59);
	border: 2px solid grey;
}

#disabled {
	background-color: #3a393c;
	border-color: #3a393c;
}